<ion-nav-view>
 <ion-header-bar class="bar-energized">
       <img src="img/logo.png"  height="40px" style="margin-top:-2px;"> <h1 align="center" style="text-align:center;color:rgb(31,43,98)" class="title">Security Feedback</h1>
		
      </ion-header-bar>
      <ion-content class="has-header" scroll="false">
          
<button class="button button-block button-energized" style="color:rgb(31,43,98)" ng-click="sync()">Sync Data to server</button>
<button class="button button-block button-energized" style="color:rgb(31,43,98)" ng-click="Logout()">Logout</button>
      </ion-content>
    </ion-nav-view>